customCommands:
  - key: "C"
    command: "czg"
    description: "commit with commitizen"
    context: "files"
    loadingText: "opening commitizen commit tool"
    output: terminal
  - key: "E"
    prompts:
      - type: "input"
        title: "Empty commit message"
        initialValue: ""
    command: "git commit --allow-empty -m {{index .PromptResponses 0 | quote}}"
    context: "files"
    description: 'create empty commit'
    loadingText: "creating empty commit"
git:
  branchLogCmd: git log --graph --color=always --date=format:'%Y-%m-%d %H:%M' --pretty=format:'%C(yellow)%h%Creset %C(cyan)%ad%Creset %C(#dd4814)%an%Creset %C(auto)%d%Creset%n%n%C(white bold)%s%Creset%n' {{branchName}} --
  paging:
    colorArg: always
    pager: delta --dark --paging=never
  allBranchesLogCmds:
    - git log --graph --color=always --date=format:'%Y-%m-%d %H:%M' --pretty=format:'%C(yellow)%h%Creset %C(cyan)%ad%Creset %C(#dd4814)%an%Creset %C(auto)%d%Creset%n%n%C(white bold)%s%Creset%n' --
