root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = false 

[*.lua]
indent_size = 2

[*.{js, jsx, ts, tsx}]
indent_size = 2

[*.php]
indent_size = 4
insert_final_newline = false 

[*.py]
indent_size = 4