layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="public" focus=true cwd="/Users/erikomishina/www/offerbox/public_html" {
    pane {
    }
  }
  tab name="docker" cwd="/Users/erikomishina/www/offerbox/public_html" {
    pane {
    }
  }
  tab name="logs" cwd="/Users/erikomishina/www/offerbox/public_html/fuel/app/logs" {
    pane {

    }
  }
  tab name="nvim" cwd="/Users/erikomishina/.config/nvim" {
    pane {
    }
  }
}
